body{
    background: #ddd;  
    font: 14px/1.25 Helvetica, sans-serif;
}

h5{
    font-size: 23.75px;
}

h6{
    font-size: 16.5px;
}

.fa{
    font-size: 1rem !important;
    font-weight: bold;
}

.fa-angle-up, .availability-1, .availability-2, hr{
    display: none;
}

.availability-1 .btn, .availability-2 .btn{
    border-radius: 1.25rem !important;
    background: #ebebeb !important;
    font-size: 0.9rem;
}

.availability-1 button:focus, .availability-1 button:active,
.availability-2 button:focus, .availability-2 button:active {
    background: #00c868 !important;
    color: #fff !important;
    box-shadow: none !important;
}

#refresh{
    height: 2.5rem;
}

.close{
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: #000000a4 !important;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    color: #fff !important;
}

#card-img:hover{
    cursor: pointer !important;
}

#cardBody{
    cursor: pointer !important;
    display: none;
    top: unset !important;
    bottom: 0;
    background: #f0f7f6af;
}

.body-text{
    font-size: 1rem !important;
}

